
:root {
    --primary-color: #E9E9EC;
    --secondary-color: #1E384D;
    --accent1-color: #EA3A41;
    --accent2-color: #B8D9EC;
    --text-shadow-border: -2px -2px 0 black, 2px -2px 0 black,-2px  2px 0 black,2px  2px 0 black  
         
          
        
        
}

body {
    font-family: "Protest Strike", sans-serif;
    font-weight: 200;
    color: var(--secondary-color);
    max-width: 2064px;
    background-color: var(--accent2-color);
    
    
}

* {
    box-sizing: border-box;
}
header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 300px 2fr;
    align-items: center;
    border: 1px solid black;
    max-width: 100%;
    background-color: white;
}

nav {
    display: flex;
    margin-left: auto;
    margin-right: 20%;
}

header nav a {
    padding: 2px 30px;
    border: 2px solid var(--accent1-color);
    background-color: var(--accent2-color);
}

header img {
    width: 200px;
    height: auto;
    padding-left: 35%;
    
}

.hero {
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    width: 100%; 
    max-width: 1000px; 
    margin: 0 auto; 
    position: relative; 
}

main {
    position: relative;
    padding: 10px; /* Adjust this if needed */
    margin: 0; /* Adjust this if needed */
    max-width: 2048px; /* Ensure it takes the full width */
    
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    color: var(--primary-color);
    font-size: 3rem;
    text-shadow: var(--text-shadow-border);
}

.hero article {
    position:absolute;
    bottom: 20px;
    left: 20px;
    background-color: var(--accent2-color);
    padding: 10px;
    color: var(--secondary-color);
}
.hero img {
    width: 100%; 
    height: auto;
}

.hero article img {
    float: right;
    margin-left: 20px;
    width: 150px;
    height: auto;
}

.hero article p {
    color: var(--secondary-color);
    line-height: 1.6;
}

nav a {
    text-decoration: none;
}

section {
    
    margin: 1rem 0; 
    padding-bottom: 2rem;
    font-size: large;
    color: var(--secondary-color);
    
}
section p {
    padding-left: 15%;
    padding-right: 15%;
}
h2 {
    display: flex;
    justify-content: center;
}

.section-images {
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start; 
    gap: 1%; 
    
}
section figure {
    display: inline-block;
    width: calc(20% - 1%); 
    margin: 0; 
    text-align: center;
    border-bottom: 1px solid var(--accent1-color);
}

section img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}

section figcaption {
    margin-top: 0.5rem; 
    font-size: 0.9rem; 
    text-align: center; 
}


footer {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 
    background-color: white; 
    border: 1px solid black;

}

footer p {
    margin: 0; 
}

footer .sociallinks {
    display: flex; 
    gap: 10px; 
}

footer .sociallinks img {
    width: 32px; 
    height: 32px;
    padding-right: 10%;
}
footer {
    margin-top: auto;
}

.company-info{
    font-size: 2rem;
}

.company-info{
    display: flex;
    justify-content: center;
    padding: 40px;
}
.company-info div{
    padding: 5%;
    width: 495px;
}

.employee-rep {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.employee-rep h3 {
    margin-bottom: 20px; 
    font-size: 4rem;
    border-bottom: 1px solid var(--accent1-color);
}

.employee-rep .figures-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.employee-rep figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    text-align: center;
}

.employee-rep figure img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
}

form {
    width: auto; 
    max-width: 600px; 
    padding: 20px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.contact-info label, .form-reason label, .messege-box label, .subscribe-box label {
    display: block;
    margin-top: 10px;
}

.contact-info input, .form-reason input, .messege-box textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: var(--accent1-color);
    color: white;
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: var(--secondary-color);
}

.title_image-display {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.title_image-display img {
    width: 100%;
    height: auto;
}

.title_image-display h1,
.title_image-display p {
    position: absolute;
    left: 5%;
    width: 30%;
    color: var(--primary-color);
    text-shadow: var(--text-shadow-border);
    
}

.title_image-display h1 {
    top: 30%;
    font-size: 3em;
    margin-bottom: 0.5em;
    text-shadow: var(--text-shadow-border);
}

.title_image-display p {
    top: 45%;
    font-size: 1.5rem;
    text-shadow: var(--text-shadow-border);
    
}

.title_image-display::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 40%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 8px 0 15px var(--accent2-color);
}

.grid-imgs {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

.figure-1 {
    display: flex; 
    justify-content: space-between; 
    
    width: 100%; 
}

.figure-1 img {
    margin-left: auto; 
    padding: 5%;
    width: 100%;
    height: auto;
}

.figure-2 {
    display: flex;
    justify-content: space-between;
    width: 98%;
    max-width: 2064px;
    
}

.figure-2 img {
    display: flex;
    margin-top: 30px; 
    width: 100%;
    height: auto;
    max-width: 40%;
    
}
.figure-2 p {
    display: flex;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 1.5rem;
    padding:5%;
    
}

.figure-1 p {
    margin-top: 30px; 
    padding: 5%;
    font-size: 1.5rem;
}

.trips_link_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
    
    border-radius: 8px;
    width: 50%;   
    margin: auto;
    margin-top: 2rem;
}

.trips_link_box p {
    margin-bottom: 20px;
}

.trips_button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--accent1-color);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    width: 50%;
    height: auto;
}

.trips_button:hover {
    background-color: var(--secondary-color);
}
.newsletter_sign_up {
    display: flex;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 5%;
    
}
.newsletter_sign_up button{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px;
    margin: 10px;
    
}
.newsletter_sign_up button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--accent1-color);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    width: 60%;
    height: auto;
}
.newsletter_sign_up button:hover{
    background-color: var(--secondary-color);
}