
:root {
    --primary-color:	 	#E9E9EC;
    --secondary-color:	    #4F89BA;
    --accent1-color:	 	#EA3A41;
    --accent2-color:	 	#B8D9EC;
}

h1, h2, h3, h4, h5, h6 {font-family: 'Noto+Sans', protest+strike}

header {
    font-style: var(--secondary-color);
}